#buscador {
	text-align:center;
	margin:30px;
}
.usuario {
	float:right;
	margin-right:40px;
	color: #111;
}
.usuario a {
	color:#0075a1;
}
#buscador input {
	padding:10px 20px;
	border-radius:5px;
	border:1px solid #ccc;
	width:300px;
}
.tablaNoticias {
	text-align:center;
	margin:0 auto;
	width:75%;
}
.tablaNoticias th {
	border-bottom:3px solid #3380af;
	padding:0 10px;
	color: #111;
	text-align: center;
}
.tablaNoticias td {
	border:1px solid #ccc;
	padding:10px 0 0 0;
	color: #111;
}
.tablaNoticias tr:nth-child(even) { background: #ddd }
.tablaNoticias tr:nth-child(odd) { background: #fff}
#principal {
	width:300px;
	margin:0 auto;
}
#login {
	margin-top:50px;
}
label {
	display:block;
	text-align:right;
	margin-right:30px;
	font-weight:bold;
	color: #111;
}
input[type="submit"] {
	background:#0075a1;
	color:#fff;
	border:none;
	width:180px;
	padding:10px;
	font-weight:bold;
	cursor:pointer;
}
fieldset, input {
	border:1px solid #ccc;
	border-radius:3px;
	padding:5px 10px;
	color: #111;
}
textarea{
	border:1px solid #ccc;
	border-radius:3px;
	padding:5px 10px;
	color: #111;
}
legend {
	font-size:20px;
}
.detalles{
	text-align: center;
}
span{
	color: #111;
}
.agregar {
	float:right;
	margin-right:40px;
	color: #111;
	border: solid;
	border-width: 2px;
	padding:5px;
	border-color: #0075a1;
	background-color: #a0c4ff;
}
.tablaNoticias a:hover{
	filter:brightness(1.2);
}
.tablaNoticias a{
	transition: filter 0.2s linear;
}